.checkout {
    display: flex;
    height: max-content;


}

.checkout_title {
    color: black;
    z-index: 10;
    margin-right: 10px;
    padding: 5px;
    
    border-bottom: 1px solid lightgray;
}

.checkout_ad {
    width: 100%;
    margin-bottom: -10px;
    z-index: -1;
    
}
