.header_sub{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #232F3E;
    height: 11vh;
    

}

.header_sub_comp{
    color: white;
    font-weight: bold;
    font-size: 0.8em;
    padding: 5px;
}

.header_sub_comp:hover {
    border: 1px solid white;
    border-radius: 2px;
}

.burger {
    display: flex;
    align-items: center;
    justify-content: space-between;
  
}

.select {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blank_space {
    width: 40px;
}

.last_comp {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.5em;
}

.prime {
    color: #2CA9DF;
}
.test {
    color: white;
}