.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: white;
}

.login_logo{
   margin-top: 20px;
   margin-bottom: 20px;
   object-fit: contain;
   width: 100px;
   margin-left: auto;
   margin-right: auto; 
}

.login_container {
    width: 300px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid lightgray;
    padding: 20px;
}

.login_container > h1 {
    font-weight: 500;
    margin-bottom: 20px;

}
.login_container > form > h5 {
    margin-bottom: 5px;

}
.login_container > form > input {
    margin-bottom: 10px;
    height: 30px;
    width: 98%;
    background-color: white;
    
}
.login_container > p {
    margin-top: 15px;
    font-size: 12px;
}
.login_signInButton {
    background: #f0c14b;
    border: 1px solid;
    border-radius: 2px;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
    margin-top: 10px;
    height: 30px;
    width: 100%;
}

.login_registerButton {
    border: 1px solid;
    border-radius: 2px;
    margin-top: 10px;
    padding: 5px;
}