.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin: 10px;
    width: 100%;
    max-height: 820px;
    min-width: 100px;
    background-color: white;
    z-index: 1;
    border-radius: 4px;

}

.product:hover {
    -moz-box-shadow: 2px 6px 40px 2px #c0c0c0;
    -webkit-box-shadow: 2px 6px 40px 2px #c0c0c0;
    -o-box-shadow: 2px 6px 40px 2px #c0c0c0;
    box-shadow: 2px 6px 40px 2px #c0c0c0;
    transform: scale(1.01);
}


.product > img {
    width: 100%;
    padding-top: 20px;
    max-height: 240px;

   object-fit: contain;
    background-color: white;
    background: -moz-linear-gradient(bottom, rgba(229, 229, 229, 0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(bottom, rgba(229, 229, 229,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to top, rgba(229, 229, 229, 0.65) 0%,rgba(0,0,0,0) 100%);
}

.product > button {
    background: #f0c14b;
    border: 1px solid;
    margin-top: 50px;
    margin-bottom: 20px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
}

.product_info {
    width: 100%;
    text-align: left;
    height: 100px;
    margin-bottom: 10px;
    background: -moz-linear-gradient(top, rgba(229, 229, 229, 0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(229, 229, 229,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(229, 229, 229, 0.65) 0%,rgba(0,0,0,0) 100%);
}

.product_title {
    margin-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
}

.product_price {
    text-align: center;
    font-size: larger;
    margin-top: 5px;
    
}

.product_rating{
    display: flex;
    justify-content: center;
    
    margin-bottom: 15px;
    margin-top: 10px;
    
}